body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
    background-color: rgb(226, 236, 236);
}
.header{
    text-align: center;
    background-image: linear-gradient(rgb(219, 247, 183), rgb(43, 132, 192));
    padding: 3%;
    font-size: 40px;
    margin-top: 0%;
}
h1{
    font-size: 30px;
    line-height: 50%;
}
.text-color{
    color: rgb(99, 160, 201);
}
.upper-banner{
    display: flex;
    padding-left: 5%;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.spaching{
    margin-top:10%;
    padding-right: 3%;
}
.half-width img{
    width: 80%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(rgb(132, 170, 82), rgb(218, 190, 190));
    padding: 10px 20px;
    color: rgb(64, 111, 155);
    font-weight: 800;
    border-radius: 15px;
}
.cover{
    background-image: url(image/Frame1.jpg);
    background-repeat: no-repeat;
}
/* Text Area */
.middle-text{
    text-align: center;
}
